<section class="flex w-100">
  <nav class="bg-gray-200 gray-800 w-6 h-100vh flex flex-column justify-between">
    <div class="flex flex-column overflow-y-scroll">
      <div class="flex flex-column gap-2 items-center">
        <header class="h-4 pa-3 flex items-center gap-2 w-100 mt-3">
          <span class="w-4">
            <%= svg("architectural-icon") %>
          </span>
          <h1 class="f-5 ma-0"><%= t(:adrpg) %></h1>
        </header>
        <a class="f-2 fw-5 blue-800 db pb-3" href="<%= AdrsPage.routing %>">&larr; <%= t(page: :back_to_adrs) %></a>
      </div>
      <brut-tabs role="tablist" aria-orientation="vertical" class="adr-page-tabs" show-warnings tab-selection-pushes-and-restores-state>
        <% tabs.each do |tab| %>
          <a href="?tab=<%= tab.name %>"
           role="tab"
           <% if tab == selected_tab %>
             aria-selected="true"
             tabindex="0"
           <% else %>
             tabindex="-1"
           <% end %>
           aria-controls="<%= tab.name %>-panel"
           id="<%= tab.name %>-tab"
           >
           <span class="flex items-center justify-end gap-2">
             <span><%= t(page: [ "tabs", tab.name, "title" ] )%></span>
             <span class="w-2"><%= svg(tab.icon) %></span>
           </span>
        </a>
      <% end %>
      </brut-tabs>
    </div>
    <div class="w-100 bg-gray-300 gray-900 flex flex-column gap-2 ph-3 pv-3">
      <a class="orange-800 f-1 db" href="<%= HelpPage.routing %>"><%= t(:help) %></a>
      <a class="orange-800 f-1 db" href="<%= LogoutHandler.routing %>"><%= t(:logout) %></a>
    </div>
  </nav>
  <section class="bg-gray-900 gray-100 w-100 h-100vh pb-3 flex flex-column items-start">
    <%= component(AnnouncementBannerComponent) %>
    <div class="overflow-y-scroll w-100">
      <%= tab_panel("projects") do %>
        <table class="collapse mv-3 striped w-100">
          <caption class="sr-only">Projects</caption>
          <thead>
            <tr>
              <th class="tl ws-nowrap f-1 ttu b pa-2 bb bc-gray-600">
                <%= t(page: "projects.columns.name" ) %>
              </th>
              <th class="tl ws-nowrap f-1 ttu b pa-2 bb bc-gray-600">
                <%= t(page: "projects.columns.description" ) %>
              </th>
              <th class="tl ws-nowrap f-1 ttu b pa-2 bb bc-gray-600">
                <%= t(page: "projects.columns.sharing" ) %>
              </th>
              <th class="tl ws-nowrap f-1 ttu b pa-2 bb bc-gray-600">
                <span class="sr-only">
                  <%= t(page: "projects.columns.actions" ) %>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% authenticated_account.projects.each do |project| %>
              <tr title="<%= project.name %>">
                <td class="ws-nowrap bl pa-2 lh-copy va-middle bb br bc-gray-600">
                  <%= project.name %>
                  <% if project.archived? %>
                    <span class="dib f-1 ph-2 pv-1 bg-red-900 gray-400 ba bc-gray-700 br-bl-4 br-tl-1 br-br-1 br-tr-4"><%= t(page: [ "projects", "archived" ]) %></span>
                  <% end %>
                </td>
                <td class="measure p f-1 pa-2 lh-copy va-middle bb br bc-gray-600">
                  <%= project.description %>
                </td>
                <td class="pa-2 lh-copy va-middle bb br bc-gray-600">
                  <div class="flex items-center gap-2">
                    <% if project.adrs_shared_by_default %>
                      <span class="w-2 flex flex-column justify-center"><%= svg("globe-network-icon") %></span>
                      <span><%= t(page: [ "projects", "default_shared" ]) %></span>
                    <% else %>
                      <span class="w-2 flex flex-column justify-center"><%= svg("lock-icon") %></span>
                      <span><%= t(page: [ "projects", "default_private" ]) %></span>
                    <% end %>
                  </div>
                </td>
                <td class="pa-2 tr va-middle bb br bc-gray-600">
                  <div class="flex items-baseline gap-2">
                    <a class="blue-400 ws-nowrap" href="<%= EditProjectByExternalIdPage.routing(external_id: project.external_id) %>"><%= t(:edit) %></a>
                    <% if project.active? %>
                      <%= form_tag(action: ArchivedProjectsWithExternalIdHandler.routing(external_id: project.external_id), method: :post) do %>
                        <brut-confirm
                          message="<%= t(page: "projects.archive_confirmation") %>">
                          <button class="tdu pointer blue-400 bn bg-none"><%= t(page: "projects.archive") %></button>
                        </brut-confirm>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if authenticated_account.entitlements.can_add_new_project? %>
          <a href="<%= NewProjectPage.routing %>" class="db pv-3 blue-300 f-3"><%= t(page: "projects.add_new") %></a>
        <% else %>
          <p class="p i gray-400">
          <%= t(page: :project_limit_exceeded) %>
          <%= t(page: :contact_support_for_limit_increase) %>
          </p>
        <% end %>
      <% end %>
      <%= tab_panel("download") do %>
        <% if authenticated_account.has_download? %>
          <adr-check-download
            aria-live="polite"
            aria-atomic="true"
            log-request-errors
            download-url="<%= ReadyDownloadsWithExternalIdHandler.routing(external_id: authenticated_account.download.external_id) %>"
            <% if authenticated_account.download.ready? %>
                 ready
            <% end %>
            show-warnings
          >
          <%= component(AccountByExternalIdPage::DownloadProgressComponent.new(download: authenticated_account.download)) %>
          </adr-check-download>
        <% else %>
          <%= form_tag(for: DownloadsHandler) do %>
            <%= component(ButtonComponent.new(
              size: :large,
              color: :green,
              label: "Create Download",
              icon: "database-download-icon",
            ))%>
            <p class="p i">
              We'll assemble all your data into a single download. Check back here to see when it's done. Should be just a few minutes.
            </p>
          <% end %>
        <% end %>
      <% end %>
      <%= tab_panel("info") do %>
        <h3 class="f-3 ma-0">Personal Data</h3>
        <dl class="flex items-baseline gap-2 ph-3">
          <dt class="b">Email</dt>
          <dd><%= authenticated_account.account.email %></dd>
        </dl>
        <h3 class="f-3 ma-0 mt-4">Limits</h3>
        <div class="w-50 pa-3 flex flex-column items-center">
          <meter class="w-100" value="<%= authenticated_account.entitlements.non_rejected_adrs %>" high="<%= authenticated_account.entitlements.max_non_rejected_adrs * 0.85 %>" min="0" max="<%= authenticated_account.entitlements.max_non_rejected_adrs %>"></meter>
          <div class="p f-1 gray-300">
            <% if authenticated_account.entitlements.can_add_new? %>
              <%= t(:adrs_remaining_counts, num: authenticated_account.entitlements.non_rejected_adrs_remaining, max: authenticated_account.entitlements.max_non_rejected_adrs) %>
            <% else %>
              <p class="p ma-0 fw-7 red-300">
                <%= t(:add_new_limit_exceeded) %>
              </p>
              <p class="p ma-0 fw-4">
                <%= html_safe!(t(page: :contact_support_for_limit_increase)) %>
              </p>
            <% end %>
          </div>
          <meter class="w-100 mt-3" value="<%= authenticated_account.entitlements.num_projects %>" high="<%= authenticated_account.entitlements.max_projects * 0.85 %>" min="0" max="<%= authenticated_account.entitlements.max_projects %>"></meter>
          <div class="p f-1 gray-300">
            <% if authenticated_account.entitlements.can_add_new_project? %>
              <%= t(:projects_remaining_counts, num: authenticated_account.entitlements.projects_remaining, max: authenticated_account.entitlements.max_projects) %>
            <% else %>
              <p class="p ma-0 fw-7 red-300">
                <%= t(:project_limit_exceeded) %>
              </p>
              <p class="p ma-0 fw-4">
                <%= html_safe!(t(page: :contact_support_for_limit_increase)) %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</section>
<%= component(ConfirmationDialogComponent) %>
