<section class="flex w-100">
  <nav class="bg-gray-200 gray-800 w-6 h-100vh flex flex-column justify-between">
    <div class="flex flex-column overflow-y-scroll">
      <header class="h-4 pa-3 flex items-center gap-2 w-100 mt-3">
        <span class="w-4">
          <%= svg("architectural-icon") %>
        </span>
        <h1 class="f-5 ma-0"><%= t(:adrscloud) %></h1>
      </header>
      <div class="pv-3 pr-3">
        <% if can_add_new? %>
          <a href="<%= NewDraftAdrPage.routing %>"
             class="green-500 bc-green-200 f-3 tc w-100 db bt bb br br-right-1 bg-black pa-2 active-bg-gray-300">
             <%= t(page: :add_new) %>
          </a>
        <% else %>
          <span class="gray-700 i bc-gray-200 f-3 tc w-100 db bt bb br br-right-1 pa-2 bg-gray-600 cursor-not-allowed" title="<%= t(:add_new_limit_exceeded) %>">
             <%= t(page: :add_new) %>
          </span>
        <% end %>
      </div>
      <%= component(AdrsPage::TabComponent.new(
        tabs: {
          accepted: "check-mark-icon",
          drafts: "edit-list-icon",
          replaced: "change-icon",
          rejected: "recycle-bin-line-icon",
        },
        selected_tab: tab,
        css_class: "adr-page-tabs",
      )) %>
      <adr-include-query-params show-warnings>
        <form class="pa-3">
          <div class="pt-3 xbt bc-gray-300">
            <div class="flex flex-column gap-2 items-end">
              <input type="search" name="tag" value="<%= tag %>" id="tag-search-input" class="text-field text-field--tiny" placeholder="<%= t(page: :tag_filter_placeholder) %>">
              <label for="tag-search-input" class="f-1 i"><%= t(page: :filter_by_tag) %></label>
              <% if filtered_by_tag? %>
                <a href="?" class="blue-800 f-1"><%= t(page: :remove_filter) %></a>
              <% end %>
            </div>
            <button class="sr-only"><%= t(page: :filter_by_tag) %></button>
          </div>
        </form>
      </adr-include-query-params>
      <div class="bt bc-gray-300 w-100 pa-3 flex flex-column items-center">
        <meter class="w-100" value="<%= entitlements.non_rejected_adrs %>" high="<%= entitlements.max_non_rejected_adrs * 0.85 %>" min="0" max="<%= entitlements.max_non_rejected_adrs %>"></meter>
        <div class="p f-1 gray-700">
          <% if can_add_new? %>
            <%= t(:adrs_remaining_counts, num: entitlements.non_rejected_adrs_remaining, max: entitlements.max_non_rejected_adrs) %>
          <% else %>
            <p class="p ma-0 fw-7 red-800">
              <%= t(:add_new_limit_exceeded) %>
            </p>
            <p class="p ma-0 fw-4">
              <%= html_safe!(t(:contact_support_for_limit_increase)) %>
            </p>
          <% end %>
        </div>
        <a class="blue-800 f-1" href="<%= AccountByExternalIdPage.routing(external_id: authenticated_account.external_id) %>"><%= t(page: :your_account) %></a>
      </div>
    </div>
    <div class="w-100 bg-gray-300 gray-900 flex flex-column gap-2 ph-3 pv-3">
      <a class="orange-800 f-1 db" href="<%= HelpPage.routing %>"><%= t(:help) %></a>
      <a class="orange-800 f-1 db" href="<%= LogoutHandler.routing %>"><%= t(:logout) %></a>
    </div>
  </nav>
  <section class="bg-gray-900 gray-100 w-100 h-100vh pb-3 flex flex-column items-start">
    <%= component(AnnouncementBannerComponent) %>
    <div class="overflow-y-scroll w-100">
      <%= component(
        AdrsPage::TabPanelComponent.new(adrs: accepted_adrs,
                                        tag: tag,
                                        selected: tab == :accepted,
                                        tab: :accepted,
                                        columns: [ :title, :project, :accepted_at ],
                                        action: :view)
      ) %>
      <%= component(
        AdrsPage::TabPanelComponent.new(adrs: draft_adrs,
                                        tab: :drafts,
                                        tag: tag,
                                        selected: tab == :drafts,
                                        columns: [ :title, :project, :created_at ],
                                        action: :edit)
      )%>
      <%= component(
        AdrsPage::TabPanelComponent.new(adrs: replaced_adrs,
                                        selected: tab == :replaced,
                                        tab: :replaced,
                                        tag: tag,
                                        columns: [ :title, :project, :created_at ],
                                        action: :view)
      ) %>
      <%= component(
        AdrsPage::TabPanelComponent.new(adrs: rejected_adrs,
                                        tab: :rejected,
                                        selected: tab == :rejected,
                                        tag: tag,
                                        columns: [ :title, :project, :created_at, :rejected_at ],
                                        action: :view)
      )%>
    </div>
  </section>
</section>
