<section class="flex w-100">
  <nav class="bg-gray-800 gray-100 w-6 h-100vh flex flex-column justify-between">
    <div class="flex flex-column overflow-y-scroll">
      <div class="pa-3 w-100 pt-4 bg-gray-200 gray-800">
        <header class="flex items-center gap-2">
          <span class="w-3">
            <%= svg("architectural-icon") %>
          </span>
          <h1 class="f-4 ma-0"><%= t(:adrpg) %></h1>
        </header>
        <a class="f-2 fw-5 blue-800 db pt-3" href="<%= AdrsPage.routing %>">&larr; <%= t(:view_all) %></a>
      </div>
      <div class="ph-3 bt bc-gray-500 pv-2">
        <div class="flex flex-column gap-3 items-end mt-1 pb-3 bb bc-gray-600">
        <% if editable? %>
          <a class="db mt-3 w-100 tc pv-2 ba br-1 bc-blue-500 f-2 fw-5 blue-400" href="<%= EditDraftAdrByExternalIdPage.routing(external_id: adr.external_id) %>"><%= t(page: :edit_adr) %></a>
        <% elsif accepted? %>
          <%= form_tag(method: "post", class: "flex flex-column items-start gap-2 mb-2 w-100") do %>
            <input type="hidden" name="external_id" value="<%= adr.external_id %>">
            <fieldset class="bn pa-0 ma-0 flex w-100 items-center">

              <%= component(ButtonComponent.new(
                size: "tiny",
                formaction: SharedAdrsWithExternalIdHandler.routing(external_id: adr.external_id),
                disabled: shared? ? t(page: :already_shared) : false,
                color: "orange",
                variant: :left,
                label: t(page: :share),
                confirm: t(page: :share_confirm),
                width: :full,
                icon: "globe-network-icon")) %>

              <%= component(ButtonComponent.new(
                size: "tiny",
                formaction: PrivateAdrsWithExternalIdHandler.routing(external_id: adr.external_id),
                disabled: private? ? t(page: :not_shared) : false,
                color: "blue",
                variant: :right,
                label: t(page: :stop_sharing_short),
                aria_label: t(page: :stop_sharing),
                confirm: t(page: :stop_share_confirm),
                width: :full,
                icon: "lock-icon")) %>

            </fieldset>
            <% if shared? %>
              <a class="blue-300 db flex items-center justify-end gap-1 pr-1 w-100" target="_blank" href="<%= SharedAdrsByShareableIdPage.routing(shareable_id: adr.shareable_id) %>">
                <span class="tdu f-1"><%= t(page: :view_share_page) %></span>
                <div class="w-1" role="img" aria-description="<%= t("aria.external_link_icon") %>"><%= svg("external-link-icon") %></div>
              </a>
            <% end %>
          <% end %>
          <% if !adr.replaced? %>
            <%= form_tag(method: "post", class:"flex items-center w-100") do %>
              <input type="hidden" name="external_id" value="<%= adr.external_id %>">
              <%= component(
                ButtonComponent.new(
                  size: "tiny",
                  variant: :left,
                  formaction: ReplacedAdrsWithExistingExternalIdHandler.routing(existing_external_id: adr.external_id),
                  disabled: can_add_new? ? false : t(:add_new_limit_exceeded),
                  color: "red",
                  width: :full,
                  label: t(page: :replace),
                  icon: "change-icon"
                )
              ) %>
              <%= component(
                ButtonComponent.new(
                  size: "tiny",
                  variant: :right,
                  formaction: RefinedAdrsWithExistingExternalIdHandler.routing(existing_external_id: adr.external_id),
                  disabled: can_add_new? ? false : t(:add_new_limit_exceeded),
                  color: "purple",
                  width: :full,
                  label: t(page: :refine),
                  icon: "adjust-control-icon"
                )
              ) %>
            <% end %>
          <% end %>
        <% end %>
        </div>
        <adr-tag-editor show-warnings="editor">
          <adr-tag-editor-view>
            <div class="flex flex-column justify-between mb-2 pv-3 gap-3">
              <div>
                <div class="f-1 fw-bold mb-3">Tags</div>
                <div class="flex flex-wrap items-center gap-2">
                  <% if adr.tags.any? %>
                    <% adr.tags.each do |tag| %>
                      <%= component Adrs::TagComponent.new(tag: tag) %>
                    <% end %>
                  <% else %>
                    <span class="f-1 gray-400 i"><%= t(page: :no_tags) %></span>
                  <% end %>
                </div>
              </div>
              <% if can_edit_tags? %>
                <%= component(ButtonComponent.new(
                  size: "tiny",
                  color: adr.tags.any? ? "white"          : "purple",
                  label: adr.tags.any? ? t(:edit)         : t(page: :add_tags),
                  icon:  adr.tags.any? ? "edit-list-icon" : "plus-round-line-icon")) %>
              <% end %>
            </div>
          </adr-tag-editor-view>
          <% if can_edit_tags? %>
            <adr-tag-editor-edit class="dn pos-absolute z-2">
              <%= form_tag(action: AdrTagsWithExternalIdForm.routing(external_id: adr.external_id),
                           method: "post",
                           class: "flex flex-column items-end gap-2 mt-2 pa-3 shadow-3 ba bc-gray-700 z-3 bg-white") do %>
                <label class="flex flex-column gap-1 w-100">
                  <div class="textarea-container">
                    <textarea name="tags" class="textarea"><%= tags.to_s %></textarea>
                  </div>
                  <span class="sr-only">Tags</span>
                  <p class="p f-1 i ma-0">Separate tags by commas or new lines. Tags are case-insensitive</p>
                </label>
                <div class="flex items-center justify-between gap-2 w-100">
                  <%= component(ButtonComponent.new(size: "tiny",
                                                       type: "reset",
                                                       color: "red",
                                                       label: t(:nevermind),
                                                       icon:  "close-line-icon")) %>
                  <%= component(ButtonComponent.new(size: "tiny",
                                                       color: "blue",
                                                       label: t(page: :save_tags),
                                                       icon:  "tag-line-icon")) %>
                </div>
              <% end %>
            </adr-tag-editor-edit>
          <% end %>
        </adr-tag-editor>
      </div>
    </div>
    <div class="w-100 bg-gray-300 gray-900 flex flex-column gap-2 ph-3 pv-3">
      <a class="orange-800 f-1 db" href="<%= HelpPage.routing %>"><%= t(:help) %></a>
      <a class="orange-800 f-1 db" href="<%= LogoutHandler.routing %>"><%= t(:logout) %></a>
    </div>
  </nav>
  <section class="bg-gray-900 gray-100 w-100 h-100vh flex flex-column items-start shadow-1">
    <%= component(AnnouncementBannerComponent) %>
    <article class="overflow-y-scroll w-100 bg-white <%= adr.replaced? ? 'gray-600' : 'black' %> pos-relative">
      <% if draft? %>
        <div class="measure-wide pos-relative">
          <aside role="note" class="ff-cursive f-6 fw-7 red-300 bg-red-600-a20 pa-2 pos-absolute ba br-1 bc-red-300 top-5 right--3" style="transform: rotate(33deg);">
            <%= t(:draft) %>
          </aside>
        </div>
      <% end %>
      <h2 class="measure pa-3 lh-title f-5 ma-0 <%= adr.replaced? ? 'tds' : '' %>"><%= adr.title %></h2>
      <div class="mb-3">
        <% if adr.replaced? %>
          <%= banner(color: "red-900", background_color: "bg-red-300") do %>
            <div class="flex items-center gap-3">
              <div class="w-3">
                <%= svg("change-icon") %>
              </div>
              <div class="tl">
                <div class="flex flex-column gap-2">
                  <div>
                    <%= t(page: :replaced_by) do %>
                      <a class="red-900" href="<%= adr_path(adr.replaced_by_adr) %>"><%= adr.replaced_by_adr.title %></a>
                    <% end %>
                  </div>
                  <div class="f-1">
                    <%= t(page: :replaced_on) do %>
                      <%= timestamp(adr.replaced_by_adr.accepted_at, class: "fw-6", format: :date) %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if accepted? %>
          <%= banner(color: adr.replaced?            ? "gray-700"    : "green-800",
                     background_color: adr.replaced? ? "bg-gray-400" : "bg-green-200",
                     font_weight: adr.replaced? ? "fw-4" : "fw-5",
                     glow: !adr.replaced?,
                     i18n_key: accepted_i18n_key,
                     timestamp: adr.accepted_at) %>
        <% end %>
        <% if !adr.replaced_adr.nil? %>
          <%= banner(color: "green-200", background_color: "bg-green-900", font_size: "f-1") do %>
            <%= t(page: :replaces) do %>
              <a class="green-300" href="<%= adr_path(adr.replaced_adr) %>"><%= adr.replaced_adr.title %></a>.
            <% end %>
          <% end %>
        <% end %>
        <% if adr.refines? %>
          <%= banner(color: "blue-200", background_color: "bg-blue-800", font_weight: "fw-4") do %>
            <div class="flex items-center gap-2">
              <div class="w-2">
                <%= svg("adjust-control-icon") %>
              </div>
              <div class="tl f-1">
                <%= t(page: :refines) do %>
                  <a class="blue-300" href="<%= adr_path(adr.refines_adr) %>"><%= adr.refines_adr.title %></a>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if adr.rejected? %>
          <%= banner(color: "red-800",
                     background_color: "bg-red-200",
                     i18n_key: :rejected,
                     timestamp: adr.rejected_at) %>
        <% end %>
        <%= banner(font_size: "f-1", color: "", background_color: "", font_weight: "fw-4",timestamp: adr.created_at,i18n_key: :created) %>
      </div>
      <section aria-label="context" class="measure-wide rendered-markdown ph-3 bb bt bc-gray-800"><%= markdown(:context) %></section>
      <section aria-label="facing" class="measure-wide rendered-markdown ph-3"><%= markdown(:facing) %></section>
      <div class="ph-3 pv-2 f-3 measure br-right-2 <%= accepted? ? 'bg-green-800 green-200' : 'bg-yellow-800 yellow-100' %>"
              style="background: linear-gradient(90deg, rgba(236,255,237,1) 11%, rgba(236,255,237,0) 100%);"
              >
        <section aria-label="decision" class="measure-wide rendered-markdown ph-3 fw-5"><%= markdown(:decision) %></section>
      </div>
      <section aria-label="neglected" class="measure-wide rendered-markdown ph-3 bb bc-gray-800"><%= markdown(:neglected) %></section>
      <section aria-label="achieve" class="measure-wide rendered-markdown ph-3 bb bc-gray-800"><%= markdown(:achieve) %></section>
      <section aria-label="accepting" class="measure-wide rendered-markdown ph-3 bb bc-gray-800"><%= markdown(:accepting) %></section>
      <section aria-label="because" class="measure-wide rendered-markdown ph-3"><%= markdown(:because) %></section>
      <%= component(Adrs::GetRefinementsComponent.new(refined_by_adrs: refined_by_adrs)) %>
    </article>
  </section>
</section>
<%= component(ConfirmationDialogComponent.new) %>
