<section class="flex w-100">
  <section class="bg-gray-200 gray-800 w-6 h-100vh flex flex-column justify-between">
    <div class="flex flex-column xpb-3">
      <header class="h-4 pa-3 flex items-center gap-2 w-100 mt-3">
        <span class="w-4">
          <%= svg("architectural-icon") %>
        </span>
        <h1 class="f-5 ma-0">ADRpg</h1>
      </header>
      <div class="pa-3">
      <%= component(ButtonComponent.new(size: :small, width: :full, color: :inverse_green, label: "Add Draft", icon: "plus-round-line-icon")) %>
      </div>
      <%= component(AdrsPage::TabComponent.new(
        tabs: [
          :accepted,
          :drafts,
          :replaced,
          :rejected,
        ],
        selected_tab: tab,
        css_class: "adr-page-tabs",
      )) %>
    <adr-include-query-params show-warnings>
      <form class="pa-3">
        <div class="pt-3 bt bc-gray-300">
          <div class="flex flex-column gap-2 items-end">
            <input type="search" name="tag" value="<%= tag %>" id="tag-search-input" class="f-1 ba br-0 blw-0 ph-2 btw-0 brw-0 bc-gray-700 bg-gray-900" placeholder="e.g. OOP">
            <label for="tag-search-input" class="f-1 i">Filter by Tag</label>
            <% if filtered_by_tag? %>
              <a href="?" class="blue-800 f-1">Remove Filter</a>
            <% end %>
          </div>
          <button class="sr-only">Search</button>
        </div>
      </form>
    </adr-include-query-params>
    </div>
    <nav class="w-100 bg-gray-300 gray-900 flex flex-column gap-2 ph-3 pv-3">
      <a class="orange-800 f-1 db" href="<%= LogoutHandler.routing %>">Help</a>
      <a class="orange-800 f-1 db" href="<%= LogoutHandler.routing %>">Logout</a>
    </nav>
  </section>
  <section class="bg-gray-900 gray-100 w-100 h-100vh pb-3 flex flex-column items-start">
    <%= component(
      AdrsPage::TabPanelComponent.new(adrs: accepted_adrs,
                                      selected: tab == :accepted,
                                      tab: :accepted,
                                      columns: [ :title, :accepted_at ])) do |adr:|%>
      <nav class="flex items-baseline gap-2 mv-2">
        <a class="blue-400" href="<%= adr_path(adr) %>"><%= t(:view) %></a>
        <% if adr.shared? %>
          <a class="blue-400 ws-nowrap" href="<%= PrivateAdrsWithExternalIdHandler.routing(external_id: adr.external_id) %>">Stop Sharing</a>
        <% else %>
          <a class="blue-400" href="<%= SharedAdrsWithExternalIdHandler.routing(external_id: adr.external_id) %>">Share</a>
        <% end %>
      </nav>
    <% end %>
    <%= component(
      AdrsPage::TabPanelComponent.new(adrs: draft_adrs,
                                      tab: :drafts,
                                      selected: tab == :drafts,
                                      columns: [ :title, :created_at ],
                                      action: :edit)
    )%>
    <%= component(
      AdrsPage::TabPanelComponent.new(adrs: replaced_adrs,
                                      selected: tab == :replaced,
                                      tab: :replaced,
                                      columns: [ :title, :created_at, :replaced_by, :replaced_at ],
                                      action: :view)
    ) %>
    <%= component(
      AdrsPage::TabPanelComponent.new(adrs: rejected_adrs,
                                      tab: :rejected,
                                      selected: tab == :rejected,
                                      columns: [ :title, :created_at, :rejected_at ],
                                      action: :view)
    )%>
  </section>
</section>
