<adr-edit-draft-by-external-id-page show-warnings>
  <%= component(Brut::FrontEnd::Components::I18nTranslations.new("pages.EditDraftAdrByExternalIdPage.adr_updated")) %>
  <%= component(Brut::FrontEnd::Components::I18nTranslations.new("pages.EditDraftAdrByExternalIdPage.adr_not_updated")) %>
<%= component(AnnouncementBannerComponent) %>
<header>
  <h2 class="tc ma-0 mt-3 ttu tracked-tight f-5"><%= t(page: :edit) %></h2>
  <% if draft_adr.refining? %>
    <h3 class="mt-1 fw-4 f-2 i flex items-center justify-center gap-2">
      <span class="w-2 gray-300">
      <%= svg("adjust-control-icon") %>
      </span>
      <span>
        <%= t(page: :refines) do %>
          <a class="blue-300" href="<%= adr_path(draft_adr.adr_refining) %>"><%= draft_adr.adr_refining.title %></a>
        <% end %>
      </span>
    </h3>
  <% end %>
  <% if draft_adr.replacing? %>
    <h3 class="mt-1 fw-4 f-2 i flex items-center justify-center gap-2">
      <span class="w-2 gray-300">
      <%= svg("change-icon") %>
      </span>
      <span>
        <%= t(page: :proposed_replacement) do %>
          <a class="blue-300" href="<%= adr_path(draft_adr.adr_replacing) %>"><%= draft_adr.adr_replacing.title %></a>
        <% end %>
      </span>
    </h3>
  <% end %>
</header>
<section class="pa-3">
  <%= component Adrs::FormComponent.new(form, action: :edit, external_id: @draft_adr.external_id, projects: projects, selected_project: @draft_adr.project) %>
</section>
</adr-edit-draft-by-external-id-page>
