<header>
  <h1 class="tc ma-0 mt-3 ttu tracked-tight f-7">ADRpg</h1>
  <h2 class="tc mt-0 f-5 fw-5">Edit ADR</h2>
  <% if !adr.refines_adr.nil? %>
    <h3 class="mt-1 fw-4 f-2 i flex items-center justify-center gap-2">
      <span class="w-2 gray-300">
      <%= svg("adjust-control-icon") %>
      </span>
      <span>
        <%= t("pages.adrs.edit.refines") %> “<a class="blue-300" href="<%= adr_path(adr.refines_adr) %>"><%= adr.refines_adr.title %></a>”
      </span>
    </h3>
  <% end %>
  <% if !adr.proposed_to_replace_adr.nil? %>
    <h3 class="mt-1 fw-4 f-2 i flex items-center justify-center gap-2">
      <span class="w-2 gray-300">
      <%= svg("change-icon") %>
      </span>
      <span>
        <%= t("pages.adrs.edit.proposed_replacement") %> “<a class="blue-300" href="<%= adr_path(adr.proposed_to_replace_adr) %>"><%= adr.proposed_to_replace_adr.title %></a>”
      </span>
    </h3>
  <% end %>
</header>
<section class="pa-3">
  <% if error_message %>
    <aside role="alert" class="pa-3 br-3 w-50 mh-auto ba bc-red-500 bg-red-800 red-300 mb-3">
      <%= t(error_message) %>
    </aside>
  <% end %>
  <% if info_message %>
    <aside role="status" class="pa-3 br-3 w-50 mh-auto ba bc-blue-500 bg-blue-800 blue-300 mb-3">
      <%= t(info_message) %>
    </aside>
  <% end %>
  <%= component Adrs::FormComponent.new(form, action: :edit) %>
</section>
