<%= component(AnnouncementBannerComponent) %>
<header>
<h2 class="tc ma-0 mt-3 ttu tracked-tight f-5"><%= t(page: :draft_new) %></h2>
  <% if refines_adr %>
    <h3 class="tc mt-0 f-4">
      <%= t(page: :refines, title: refines_adr.title) %>
    </h3>
  <% end %>
  <% if replaces_adr %>
    <h3 class="tc mt-0 f-4">
      <%= t(page: :replaces, title: replaces_adr.title) %>
    </h3>
  <% end %>
</header>
<section class="pa-3">
  <%= component Adrs::FormComponent.new(form, action: :new, projects: projects) %>
</section>
