<div class="flex-ns items-start gap-3 justify-center">
  <div role="none" class="w-quarter db-ns db"></div>
  <article class="w-50-ns ph-0 bg-white <%= adr.replaced? ? 'gray-600' : 'black' %> ba-ns bc-gray-600 br-2 mv-3 shadow-3-ns pos-relative">
    <h2 class="tc measure-narrow ph-1 mh-auto lh-title fs-5 mt-3 mb-1 <%= adr.replaced? ? 'tds' : '' %>"><%= adr.title %></h2>
    <div class="tc f-1 mb-3">
      <% if adr.replaced? %>
        <h3 class="lh-title f-3 fw-5 pa-2 mh-3 ba br-2 bc-red-300 red-900 bg-red-300 flex items-center gap-3">
          <div class="w-3">
          <%= svg("change-icon") %>
          </div>
          <div class="tl">
            <div class="f-2">
              <%= t(page: :replaced_on) do %>
                <%= timestamp(adr.replaced_by_adr.accepted_at,class: "fw-6", format: :date) %>
              <% end %>
              <% if adr.replaced_by_adr.shared? %>
                <%= t(page: :replaced_by) do %>
                  <a class="db red-900" href="<%= shareable_path(adr.replaced_by_adr) %>"><%= adr.replaced_by_adr.title %></a>
                <% end %>
              <% end %>
            </div>
          </div>
        </h3>
      <% end %>
      <h3 class="lh-title fw-5 pa-2 mh-3 ba br-2 
        <%= adr.replaced? ? 'bc-gray-300 gray-700 bg-gray-400' : 'text-glow bc-green-200 green-800 bg-green-200' %>
        ">
        <% if adr.replaced? %>
          <%= t(page: :originally_accepted) do %>
            <%= timestamp(adr.accepted_at,class: "fw-6", format: :date) %>
          <% end %>
        <% else %>
          <%= t(page: :accepted) do %>
            <%= timestamp(adr.accepted_at,class: "fw-6", format: :date) %>
          <% end %>
        <% end %>
      </h3>
      <% if !adr.replaced_adr.nil? && adr.replaced_adr.shared? %>
        <h3 class="lh-title f-1 fw-5 pa-2 mh-3 ba br-2 bc-green-200 green-200 bg-green-900">
          <%= t(page: :replaced) do %>
            <a class="green-300" href="<%= shareable_path(adr.replaced_adr) %>"><%= adr.replaced_adr.title %></a>
          <% end %>
        </h3>
      <% end %>
      <%= t(page: :created) do %>
        <%= timestamp(adr.created_at, class: "fw-5", format: :date) %>
      <% end %>
    </div>
    <section class="pt-3">
      <%= field("context") %>
      <%= field("facing") %>
      <div class="mb-3 pb-1 pt-3 f-3 br-right-2 <%= adr.accepted? ? 'bg-green-800 green-200' : 'bg-yellow-800 yellow-100' %>">
           <%= field("decision", label_additional_clases: "tdu f-2") %>
      </div>
      <%= field("neglected") %>
      <%= field("achieve") %>
      <%= field("accepting") %>
      <%= field("because") %>
    </section>
    <% if adr.refines? && adr.refines_adr.shared? %>
      <section aria-label="context" class="bt bc-gray-800">
      <h3 class="lh-title f-1 fw-5 pa-2 mh-3 ba br-2 bc-blue-800 blue-300 bg-blue-900 flex items-center gap-2">
        <div class="w-2">
          <%= svg("adjust-control-icon") %>
        </div>
        <div class="tl">
          <%= t(page: :refines) do %>
            <a class="blue-300" href="<%= shareable_path(adr.refines_adr) %>"><%= adr.refines_adr.title %></a>
          <% end %>
        </div>
      </h3>
      </section>
    <% end %>
    <%= component(Adrs::GetRefinementsComponent.new(refined_by_adrs: shareable_refined_by_adrs, shareable_paths: true, gradient: false, constrain_width: false)) %>
  </article>
  <div role="none" class="w-quarter db-ns dn"></div>
</div>
