<% if confirmation_message %>
<brut-confirm
  message="<%= confirmation_message %>"
  show-warnings="<%= label %>"
  class="<%= width_class %>"
  dialog-id="<%= confirm_dialog %>">
<% end %>
<button 
  <% if type %>
    type="<%= type %>"
  <% end %>
  <% if formaction %>
    formaction="<%= formaction %>"
  <% end %>
  <% if disabled %>
      disabled
  <% end %>
  <% if aria_label %>
      aria-label="<%= aria_label %>"
  <% end %>
  <% if value %>
      value="<%= value %>"
  <% end %>
      title="<%= title %>"
      class="flex items-center justify-center <%= width_class %> gap-2 button button--size--<%= size %> button--color--<%= color %> <%= variant_class %>" aria-label="<%= label %>">
  <% if icon %>
    <span aria-hidden="true">
      <%= svg(icon) %>
    </span>
  <% end %>
  <%= label %>
</button>
<% if confirmation_message %>
</brut-confirm>
<% end %>
