<label class="flex items-center gap-3">
  <%= component(checkbox) %>
  <div class="checkbox-label">
    <%= label %>
  </div>
  <div class="text-field-error-label">
    <brut-cv-messages input-name="<%= input_name %>" class="flex flex-wrap items-baseline">
    <% constraint_violations.each do |constraint| %>
      <% if !constraint.client_side? %>
        <brut-cv server-side input-name="<%= input_name %>">
          <%= t("cv.be.#{constraint}", **constraint.context).capitalize %>
        </brut-cv>
      <% end %>
    <% end %>
    </brut-cv-messages>
  </div>
</label>
