<<%= container_tag %> class="flex flex-column gap-1 w-100">
  <%= component(input_component) %>
  <div class="text-field-error-label">
    <brut-cv-messages show-warnings input-name="<%= input_name %>" class="flex flex-wrap items-baseline">
      <% constraint_violations.each do |constraint| %>
        <% if !constraint.client_side? %>
          <brut-cv server-side input-name="<%= input_name %>" show-warnings>
            <%= t("cv.be.#{constraint}", **constraint.context).capitalize %>
          </brut-cv>
        <% end %>
      <% end %>
    </brut-cv-messages>
  </div>
  <% if !labeled_elsewhere? %>
    <div class="text-field-label"><%= label %></div>
  <% end %>
</<%= container_tag %>>
