<<%= container_tag %> class="flex flex-column gap-1 w-100">
  <div class="textarea-container" <%= invalid? ? 'data-invalid' : '' %>>
    <%= component(input_component) %>
  </div>
  <div class="text-field-error-label">
    <brut-cv-messages input-name="<%= input_name %>" class="flex flex-wrap items-baseline">
    <% constraint_violations.each do |constraint| %>
      <% if !constraint.client_side? %>
        <brut-cv server-side input-name="<%= input_name %>">
          <%= t("cv.be.#{constraint}", **constraint.context).capitalize %>
        </brut-cv>
      <% end %>
    <% end %>
    </brut-cv-messages>
  </div>
  <div class="text-field-label">
    <%= label %>
  </div>
</<%= container_tag %>>
