<article class="measure-wide mh-auto pa-3 bg-white black ba bc-gray-600 br-2 mv-3 shadow-3">
  <h2 class="tc lh-title fs-5"><%= adr.title %></h2>
  <h3>In the context of</h3>
  <p class="p ml-2"><%= adr.context %></p>
  <h3>Facing</h3>
  <p class="p ml-2"><%= adr.facing %></p>
  <div class="ba pa-2 br-3 bc-yellow-600 bg-yellow-800 yellow-100">
  <h3 class="tc fs-6 ma-1">We decided</h3>
  <p class="p ml-2"><%= adr.decision %></p>
  </div>
  <h3>Neglecting</h3>
  <p class="p ml-2"><%= adr.neglected %></p>
  <h3>To Achieve</h3>
  <p class="p ml-2"><%= adr.achieve %></p>
  <h3>Accepting</h3>
  <p class="p ml-2"><%= adr.accepting %></p>
  <h3>Because</h3>
  <p class="p ml-2"><%= adr.because %></p>
</article>
