<section
  role="tabpanel"
  tabindex="0"
  id="<%= tab %>-panel"
  class="w-100" 
  <% if !selected? %>
       hidden
  <% end %>
>
  <h2 class="ph-3 f-4 b ma-0 mt-4 flex items-center gap-2">
    <span>
    <%= t(tab) %>
    </span>
    <% if !tag.nil? %>
      <%= component(Adrs::TagComponent.new(tag: tag, link: false)) %>
    <% end %>
  </h2>
  <% if adrs.any? %>
    <table class="collapse ma-3 striped">
      <caption class="sr-only"><%= t("captions.#{tab}") %></caption>
      <thead>
        <tr>
          <% columns.each do |column| %>
            <th class="tl ws-nowrap f-1 ttu b pa-2 bb bc-gray-600">
              <%= t("columns.#{column}") %>
            </th>
          <% end %>
          <th class="tl ws-nowrap f-1 ttu b pa-2 bb bc-gray-600"><span class="sr-only"><%= t("columns.actions") %></span></th>
        </tr>
      </thead>
      <tbody>
        <% adrs.each do |adr| %>
          <tr>
            <% columns.each_with_index do |column, index| %>
              <td class="<%= index == 0 ? 'w-100 bl f-3' : 'f-2' %> pa-2 lh-copy va-middle bb br bc-gray-600">
                <%= column_value(adr,column) %>
              </td>
            <% end %>
            <td class="pa-2 tr va-middle bb br bc-gray-600">
              <a class="blue-400 ws-nowrap" href="<%= action_routing(adr) %>"><%= t(action_name) %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="ma-3 p i"><%= t(:none) %></p>
  <% end %>
</section>
