<brut-tabs role="tablist" aria-orientation="vertical" class="<%= css_class %>" show-warnings tab-selection-pushes-and-restores-state>
  <% each_tab do |tab_name,selected| %>
  <a href="?tab=<%= tab_name %>" 
     role="tab"
     aria-selected="<%= selected %>"
     tabindex="<%= selected ? 0 : -1 %>"
     aria-controls="<%= tab_name %>-panel"
     id="<%= tab_name %>-tab">
     <%= tab_name %>
  </a>
  <% end %>
</brut-tabs>
