<brut-form>
  <%= form_tag(action: @form_action,
               method:"post",
               class:"flex flex-column gap-2 shadow-2-ns mh-auto pa-4-ns br-1 bg-white-ish-ns w-60-ns") do %>
    <%= component TextFieldComponent.new(
      label: t(component: [ :name, :label ]),
      form: form,
      input_name: "name",
      placeholder: t(component: [ :name, :placeholder ]),
      autofocus: true) %>
    <%= component TextareaComponent.new(
      label: t(component: [ :description, :label ]),
      form: form,
      input_name: "description",
      placeholder: t(component: [ :description, :placeholder ]),
      autofocus: false) %>
    <%= component CheckboxComponent.new(
      label: t(component: [ :adrs_shared_by_default, :label ]),
      form: form,
      input_name: "adrs_shared_by_default") %>
    <div class="mt-2 flex justify-center">
      <%= component(ButtonComponent.new(size: "normal", color: "blue", label: action_label, icon: "layer-icon")) %>
    </div>
    <a href="<%= AccountByExternalIdPage.routing(external_id: account_external_id, tab: :projects) %>" class="red-300"><span role="none">&larr;</span> <%= go_back_label %></a>
  <% end %>
</brut-form>
