<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="Copyright (c) 2024 David Bryant Copeland, All Rights Reserved" rel="copyright">
    <title>Welcome to ADRpg!</title>
    <meta content="website" property="og:type">
  </head>
  <link rel="stylesheet" href="<%= asset_path('/css/styles.css') %>">
  <script defer src="<%= asset_path('/js/app.js') %>"></script>
  <% if Brut.container.project_env.test? %>
    <script defer src="<%= asset_path('/js/end-to-end-tests.js') %>"></script>
  <% end %>
  <style>
  </style>

  <%= component(Brut::FrontEnd::Components::I18nTranslations.new("cv.fe")) %>
  <%= component(Brut::FrontEnd::Components::I18nTranslations.new("cv.this_field")) %>

  <body class="bg-gray-900 gray-200 ff-sans">
    <nav class="w-100 flex items-center justify-end pa-3">
      <a href="<%= LogoutHandler.routing%>">Logout</a>
    </nav>
    <%= yield %>
  </body>
</html>
