<brut-form>
  <%= form_tag(action: form_action,
               method:"post",
               class:"flex flex-column gap-2 shadow-2-ns mh-auto pa-4-ns br-1 bg-white-ish-ns w-50") do %>
  <% if form.external_id %>
    <input type="hidden" name="external_id" value="<%= form.external_id %>">
  <% end %>
  <%= component Components::TextField.new(
    label: "Title",
    form: form,
    input_name: "title",
    placeholder: "e.g. We Should Write Tests",
    autofocus: true) %>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea(name: "context", label: "Use case or user story", prefix: "In the context of") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <span class="w-4">
      <%= svg("curved-arrow-left-to-bottom-icon") %>
    </span>
    <div class="w-100">
      <%= adr_textarea(name: "facing", label: "Concern or issue", prefix: "Facing") %>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea(name: "decision", label: "Bulk of what was decided or option chosen", prefix: "We decided") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <span class="w-4">
      <%= svg("curved-arrow-left-to-bottom-icon") %>
    </span>
    <div class="w-100">
      <%= adr_textarea(name: "neglected", label: "Options considered but not chosen", prefix: "And neglected") %>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea(name: "achieve", label: "System qualities or desired consequences", prefix: "To achieve") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <span class="w-4">
      <%= svg("curved-arrow-left-to-bottom-icon") %>
    </span>
    <div class="w-100">
      <%= adr_textarea(name: "accepting", label: "Downside, trade-offs, or understood consequences", prefix: "Accepting") %>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea(name: "because", label: "Additional rationale or context", prefix: "because") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <%= adr_textarea(name: "tags", label: "Tags, separated by newlines or commas", prefix: "tags") %>
  </div>
  <div class="flex flex-column items-center justify-between">
    <span class="w-4">
      <%= svg("arrow-bottom-direction-icon") %>
    </span>
  </div>
  <input type="hidden" name="refines_adr_external_id" value="<%= form.refines_adr_external_id %>">
  <input type="hidden" name="replaced_adr_external_id" value="<%= form.replaced_adr_external_id %>">
  <div class="mt-2 flex gap-3 items-center justify-center">
    <%= reject_button %>
    <brut-ajax-submit show-warnings="only-one" class="pos-relative">
    <%= component(Components::Button.new(size: "normal", color: "blue", label: action_label, icon: "edit-list-icon")) %>
    <div data-loading-animation class="w-3 h-3 mh-auto mv-auto top-0 left-0 right-0 bottom-0 pos-absolute">
      <div class="rotating">
        <%= svg("loader-icon") %>
      </div>
    </div>
    <div data-submitted-icon class="w-3 h-3 mh-auto mv-auto top-0 left-0 right-0 bottom-0 pos-absolute">
      <%= svg("check-mark-icon") %>
    </div>
    </brut-ajax-submit>
    <%= accept_button %>
  </div>
  <a href="/adrs" class="red-300"><span role="none">&larr;</span> <%= go_back_label %></a>
<% end %>
<%= component(Components::ConfirmationDialog.new) %>
</brut-form>
