<brut-form>
  <%= form_tag(action: form_action,
               method:"post",
               class:"flex flex-column gap-2 shadow-2-ns mh-auto pa-4-ns br-1 bg-white-ish-ns w-60-ns") do %>
  <%= component TextFieldComponent.new(
    label: t(component: :adr_title),
    form: form,
    input_name: "title",
    placeholder: t(component: :adr_title_placeholder),
    autofocus: true) %>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea("context") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <span class="w-4">
      <%= svg("curved-arrow-left-to-bottom-icon") %>
    </span>
    <div class="w-100">
      <%= adr_textarea("facing") %>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea("decision") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <span class="w-4">
      <%= svg("curved-arrow-left-to-bottom-icon") %>
    </span>
    <div class="w-100">
      <%= adr_textarea("neglected") %>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea("achieve") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <span class="w-4">
      <%= svg("curved-arrow-left-to-bottom-icon") %>
    </span>
    <div class="w-100">
      <%= adr_textarea("accepting") %>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea("because") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <%= adr_textarea("tags") %>
  </div>
  <div class="flex flex-column items-center justify-between">
    <span class="w-4">
      <%= svg("arrow-bottom-direction-icon") %>
    </span>
  </div>
  <input type="hidden" name="refines_adr_external_id" value="<%= form.refines_adr_external_id %>">
  <input type="hidden" name="replaced_adr_external_id" value="<%= form.replaced_adr_external_id %>">
  <input type="hidden" name="project_external_id" value="<%= form.project_external_id %>">
  <div class="mt-2 flex justify-center">
    <% if ajax_submit? %>
      <brut-ajax-submit
        class="pos-relative"
        show-warnings="only-one"
        log-request-errors>
        <%= component(ButtonComponent.new(size: "normal", color: "blue", label: action_label, icon: "edit-list-icon")) %>
        <div data-loading-animation class="w-3 h-3 mh-auto mv-auto top-0 left-0 right-0 bottom-0 pos-absolute">
          <div class="rotating">
            <%= svg("loader-icon") %>
          </div>
        </div>
        <div data-submitted-icon class="w-3 h-3 mh-auto mv-auto top-0 left-0 right-0 bottom-0 pos-absolute">
          <%= svg("check-mark-icon") %>
        </div>
      </brut-ajax-submit>
    <% else %>
      <%= component(ButtonComponent.new(size: "normal", color: "blue", label: action_label, icon: "edit-list-icon")) %>
    <% end %>
  </div>
  <div class="mt-3 pt-3 flex gap-3 items-center justify-center bt bc-gray-700 w-70 mh-auto">
    <%= reject_button %>
    <%= accept_button %>
  </div>
  <a href="/adrs" class="red-300"><span role="none">&larr;</span> <%= go_back_label %></a>
<% end %>
<%= component(ConfirmationDialogComponent.new) %>
</brut-form>
