<% if refined_by_adrs.any? %>
  <section class="pa-3 bg-blue-800 gray-200 <%= constrain_width? ? "measure-wide" : "" %>"
           <% if gradient? %>
             style="background: linear-gradient(90deg, rgba(228,241,255,1) 11%, rgba(228,241,255, 0) 100%);"
           <% end %>
             >
    <h4 class="f-2 fw-6 mt-2 mb-1 flex items-center gap-2">
      <span class="w-2">
        <%= svg("adjust-control-icon") %>
      </span>
      <%= t(component: :refinements) %>
    </h4>
    <table class="collapse w-100 mh-auto f-1">
      <thead>
        <tr>
          <th class="tl pv-2 pr-2 fw-bold bb">
            Title
          </th>
          <th class="tl pv-2 pr-2 fw-bold bb">
            Status
          </th>
          <th class="tl pv-2 pr-2 fw-bold bb">
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <% refined_by_adrs.each do |refining_adr| %>
          <tr>
            <td class="pv-2 pr-2"><a class="blue-300" href="<%= path(refining_adr) %>"><%= refining_adr.title %></a></td>
            <td class="pv-2 pr-2">
              <% if refining_adr.accepted? %>
                <%= t(component: :is_accepted) %>
              <% elsif refining_adr.rejected? %>
                <%= t(component: :is_rejected) %>
              <% else %>
                <%= t(component: :is_draft) %>
              <% end %>
            </td>
            <td class="pv-2 pr-2">
              <% if refining_adr.accepted? %>
                <%= time_tag(timestamp: refining_adr.accepted_at) %>
              <% elsif refining_adr.rejected? %>
                <%= time_tag(timestamp: refining_adr.rejected_at) %>
              <% else %>
                <%= time_tag(timestamp: refining_adr.created_at) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>
