<span class="dib ph-2 pv-1 br-left-1 br-right-3 bg-<%= color %>-800 <%= color %>-300 ba bc-<%= color %>-700 f-1 fw-normal ttl tracked-tight">
  <a class="<%= color %>-300" href="/adr_tags/<%= tag %>">
  <%= tag %>
  </a>
</span>
