<span class="dib <%= padding %> br-left-1 br-right-3 bg-<%= color %>-<%= background_weight %> <%= color %>-300 ba bc-<%= color %>-<%= border_weight %> f-1 fw-normal ttl tracked-tight">
  <% if link? %>
  <a class="<%= color %>-300 fw-<%= weight %> flex items-center gap-1" href="<%= AdrsPage.routing(tag: tag) %>">
  <% else %>
  <span class="<%= color %>-300 fw-<%= weight %> flex items-center gap-1">
  <% end %>
    <% if icon %>
      <span class="w-1">
        <%= svg(icon) %>
      </span>
    <% end %>
    <span>
      <%= tag %>
    </span>
  <% if link? %>
  </a>
  <% else %>
  </span>
  <% end %>
</span>
