<label class="flex flex-column gap-1 w-100">
  <div class="textarea-container" <%= invalid? ? 'data-invalid' : '' %>>
    <% if prefix %>
      <div class="inner-label"><%= prefix %></div>
    <% end %>
    <%= component(input_component) %>
  </div>
  <div class="text-field-error-label">
    <brut-constraint-violation-messages>
    </brut-constraint-violation-messages>
    <brut-constraint-violation-messages input-name="<%= input_name %>" server-side class="flex flex-wrap items-baseline">
    <% constraint_violations.each do |constraint| %>
      <% if !constraint.client_side? %>
        <brut-constraint-violation-message>
          <%= t("cv.be.#{constraint}", **constraint.context).capitalize %>
        </brut-constraint-violation-message>
      <% end %>
    <% end %>
    </brut-constraint-violation-messages>
  </div>
  <div class="text-field-label">
    <span class="f-1"><%= label %></span>
  </div>
</label>
