<article class="measure-wide mh-auto pt-3 ph-0 bg-white <%= adr.replaced? ? 'gray-600' : 'black' %> ba bc-gray-600 br-2 mv-3 shadow-3 pos-relative">
  <% if !adr.accepted? && !adr.rejected?%>
    <aside class="ff-cursive f-6 fw-7 red-300 bg-red-600-a20 pa-2 pos-absolute ba br-1 bc-red-300 top-4 right--3" style="transform: rotate(33deg);">
    DRAFT
    </aside>
  <% end %>
  <h2 class="tc lh-title fs-5 mt-1 <%= adr.replaced? ? 'tds' : '' %>"><%= adr.title %></h2>
  <div class="tc f-1">
    <% if adr.replaced? %>
      <h3 class="lh-title f-3 fw-5 pa-2 mh-3 ba br-2 bc-red-300 red-900 bg-red-300 flex items-center gap-3">
        <div class="w-3">
        <%= svg("change-icon") %>
        </div>
        <div class="tl">
          <div class="f-2">
            Replaced <time class="fw-6" datetime="<%= adr.replaced_by_adr.accepted_at %>"><%= adr.replaced_by_adr.accepted_at %></time> by
          </div>
          <a class="db red-900" href="<%= adr_path(adr.replaced_by_adr) %>"><%= adr.replaced_by_adr.title %></a>
        </div>
      </h3>
    <% end %>
    <% if adr.accepted? %>
      <h3 class="lh-title fw-5 pa-2 mh-3 ba br-2 
        <%= adr.replaced? ? 'bc-gray-300 gray-700 bg-gray-400' : 'bc-green-200 green-800 bg-green-200' %>
        ">
        <% if adr.replaced? %>
          Originally
        <% end %>
        Accepted <time class="fw-6" datetime="<%= adr.accepted_at %>"><%= adr.accepted_at %></time>
      </h3>
    <% end %>
    <% if !adr.replaced_adr.nil? %>
      <h3 class="lh-title f-1 fw-5 pa-2 mh-3 ba br-2 bc-green-200 green-200 bg-green-900">
        Replaces <a class="green-300" href="<%= adr_path(adr.replaced_adr) %>"><%= adr.replaced_adr.title %></a>.
      </h3>
    <% end %>
    <% if adr.rejected? %>
    <h3 class="lh-title fw-5 pa-2 mh-3 ba br-2 bc-red-200 red-800 bg-red-200">
    Rejected <time class="fw-6" datetime="<%= adr.created_at %>"><%= adr.rejected_at %></time>
    </h3>
    <% end %>
    Created <time class="fw-5" datetime="<%= adr.created_at %>"><%= adr.created_at %></time>
  </div>
  <section class="rendered-markdown ph-3 bb bc-gray-800"><%= markdown(:context) %></section>
  <section class="rendered-markdown ph-3"><%= markdown(:facing) %></section>
  <div class="bt bb <%= adr.accepted_at.nil? ? 'bc-yellow-600 bg-yellow-800 yellow-100' : 'bc-green-600 bg-green-800 green-200' %>">
    <section class="rendered-markdown ph-3 fw-5"><%= markdown(:decision) %></section>
  </div>
  <section class="rendered-markdown ph-3 bb bc-gray-800"><%= markdown(:neglected) %></section>
  <section class="rendered-markdown ph-3 bb bc-gray-800"><%= markdown(:achieve) %></section>
  <section class="rendered-markdown ph-3 bb bc-gray-800"><%= markdown(:accepting) %></section>
  <section class="rendered-markdown ph-3"><%= markdown(:because) %></section>
  <nav class="pa-3 flex justify-between items-baseline gap-2 bg-gray-800 bt bc-gray-700">
    <a class="f-2 fw-5 blue-400" href="/adrs">&larr; Back</a>
    <% if adr.accepted_at.nil? && adr.rejected_at.nil? %>
    <div class="flex justify-end gap-3 items-baseline">
      <a class="f-2 fw-5 blue-400" href="<%= edit_adr_path(adr) %>">Edit</a>
    </div>
    <% elsif adr.accepted? && !adr.replaced? %>
      <div class="flex justify-end gap-3 items-center">
        <form action="/replaced_adrs" method="post">
          <input type="hidden" name="replaced_adr_external_id" value="<%= adr.external_id %>">
          <%= component(Components::Button.new(size: "small", color: "red", label: "Replace", icon: "change-icon")) %>
        </form>
        <form action="/refined_adrs" method="post">
          <input type="hidden" name="refines_adr_external_id" value="<%= adr.external_id %>">
          <%= component(Components::Button.new(size: "small", color: "purple", label: "Refine", icon: "adjust-control-icon")) %>
        </form>
      </div>
    <% end %>
  </nav>
    <% if adr.refines? %>
      <h3 class="lh-title f-1 fw-5 pa-2 mh-3 ba br-2 bc-blue-800 blue-300 bg-blue-900 flex items-center gap-3">
        <div class="w-2">
          <%= svg("adjust-control-icon") %>
        </div>
        <div class="tl">
          Refines “<a class="blue-300" href="<%= adr_path(adr.refines_adr) %>"><%= adr.refines_adr.title %></a>”
        </div>
      </h3>
    <% end %>
  <% if DataModel::Adr.where(refines_adr_id: adr.id).any? %>
    <section class="pa-2">
    <h4 class="f-3 fw-6">Refined By</h4>
    <table class="collapse w-100 mh-auto">
      <thead>
        <tr>
          <th class="tl pa-2 fw-6 bb">
            Title
          </th>
          <th class="tl pa-2 fw-6 bb">
            Status
          </th>
          <th class="tl pa-2 fw-6 bb">
            Date
          </th>
        </tr>
      </thead>
      <tbody>
    <% DataModel::Adr.where(refines_adr_id: adr.id).each do |refining_adr| %>
      <tr>
        <td class="pa-2"><a href="<%= adr_path(refining_adr) %>"><%= refining_adr.title %></a></td>
        <td class="pa-2"><%= refining_adr.accepted? ? "Accepted" : "Draft" %></td>
        <td class="pa-2"><%= refining_adr.accepted_at %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  <% end %>
</article>
