<form action="/adrs" method="post" class="flex flex-column gap-2 shadow-2-ns mh-auto pa-4-ns br-1 bg-white-ish-ns w-50">
  <% if adr.external_id %>
    <input type="hidden" name="external_id" value="<%= adr.external_id %>">
  <% end %>
  <%= component Components::TextField.new(
        label: "Title",
        input: input_component_for(adr, :title, html_attributes: { class: "text-field" })) %>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea(name: "context", label: "Use case or user story", prefix: "In the context of") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <span class="w-4">
      <%= svg("curved-arrow-left-to-bottom-icon") %>
    </span>
    <div class="w-100">
      <%= adr_textarea(name: "facing", label: "Concern or issue", prefix: "Facing") %>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea(name: "decision", label: "Bulk of what was decided or option chosen", prefix: "We decided") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <span class="w-4">
      <%= svg("curved-arrow-left-to-bottom-icon") %>
    </span>
    <div class="w-100">
      <%= adr_textarea(name: "neglected", label: "Options considered but not chosen", prefix: "And neglected") %>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <div class="w-100">
      <%= adr_textarea(name: "achieve", label: "System qualities or desired consequences", prefix: "To achieve") %>
    </div>
    <span class="w-4">
      <%= svg("curved-arrow-right-to-bottom-icon") %>
    </span>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <span class="w-4">
      <%= svg("curved-arrow-left-to-bottom-icon") %>
    </span>
    <div class="w-100">
      <%= adr_textarea(name: "accepting", label: "Downside, trade-offs, or understood consequences", prefix: "Accepting") %>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-between">
    <%= adr_textarea(name: "because", label: "Additional rationale or context", prefix: "because") %>
  </div>
  <div class="flex flex-column items-center justify-between">
    <span class="w-4">
      <%= svg("arrow-bottom-direction-icon") %>
    </span>
  </div>
  <div class="mt-2 flex flex-column gap-3 items-center justify-between">
    <%= component(Components::Button.new(size: "normal", color: "blue", label: action_label, icon: "edit-list-icon")) %>
    <a href="/adrs" class="red-300">Nevermind</a>
  </div>
</form>
