<label class="flex flex-column gap-1 w-100">
  <div class="textarea-container" <%= invalid? ? 'data-invalid' : '' %>>
    <% if prefix %>
      <div class="inner-label"><%= prefix %></div>
    <% end %>
    <%= component(input_component) %>
  </div>
  <div class="text-field-error-label">
    <span data-constraint-violation-messages>
    </span>
    <% constraint_violations.map { |constraint| %>
      <% if !constraint.client_side? %>
        <%= constraint.to_s %> - <%= constraint.context %>
      <% end %>
    <% }.compact.join(", ") %>
  </div>
  <div class="text-field-label">
    <span class="f-1"><%= label %></span>
  </div>
</label>
