<h3 class="lh-title br-2 measure
           <%= margin %>
           <%= font_size %>
           <%= color %>
           <%= padding %>
           <%= background_color %>
           <%= glow? ? "text-glow" : "" %> <%= font_weight %>"
>
  <%= html_safe!(contents) %>
</h3>
